## Q no 1 : you have some strings in variable text your task is to make a list of capital letters only using list comprehension and print that list
## Hint! explore isUpper() method then do this

In [4]:
text = "I Have To Go To Office"
capital = []
[capital.append(t) for t in text if t.isupper()==True]
print(capital)

['I', 'H', 'T', 'G', 'T', 'O']

## Q no 2: Make a list of numbers from 0 to 20 which is divisible by 2 using list comprehension

In [8]:
number=[n for n in range(0,21) if n%2==0]
print(number)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

## Q no 3 : Find all of the numbers from 1-1000 that are divisible by 7 by making a list using list comprehension and print it

In [9]:
number=[n for n in range(1,1000) if n%7 == 0]
print (number)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497, 504, 511, 518, 525, 532, 539, 546, 553, 560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672, 679, 686, 693, 700, 707, 714, 721, 728, 735, 742, 749, 756, 763, 770, 777, 784, 791, 798, 805, 812, 819, 826, 833, 840, 847, 854, 861, 868, 875, 882, 889, 896, 903, 910, 917, 924, 931, 938, 945, 952, 959, 966, 973, 980, 987, 994]

## Q no 4 : Count the number of spaces in a string below using list comprehension and print the result

In [11]:
a = "i will not come"
count = [x for x in a if x==" "]
print(len(count))
count

3

[' ', ' ', ' ']

## Q no 5 : Write a script that draws a triangle as below:
## * ** *** **** ***** ****** ******* ******** ********* ********** *********** ************

In [3]:
for t in range(1,13):
  print("*"*t)

*
**
***
****
*****
******
*******
********
*********
**********
***********
************

## Q no 6 : Write a script that draws a geometric shape as below:
### * ** *** **** ***** ****** ******* ****** ***** **** *** ** *

In [9]:
for t in range(1,8,1):
  print("*"*t)
for t in range(8,0,-1):
  print("*"*t)

*
**
***
****
*****
******
*******
********
*******
******
*****
****
***
**
*

## Q no 7 :Find all of the words in a string that are less than 4 letters using list comprehension

In [19]:
txt="I think it is very difficult task for me and I am unable to understand because I am not an intelligent girl "
words=[x for x in txt.split(" ") if len(x)<4] 
words

['I',
 'it',
 'is',
 'for',
 'me',
 'and',
 'I',
 'am',
 'to',
 'I',
 'am',
 'not',
 'an',
 '']